root{
    --primary: #021A84;
    --secondary: #FE4C4C;
    --text: #171717;
    --gray: #999999;
    --light-gray: #F2F2F2;
    --green-text: #2ADA66;
    --blue-text: #021A84;
    --red-text: #E5532A;
    --green-gradient:linear-gradient(
        0deg, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.6)),
        #2ADA66;
    --purple-gradient: linear-gradient(
        0deg, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.6)),
        #021A84;
    --red-gradient: linear-gradient(
        0deg, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.6)),
        #E5532A;
}

html,body{
    font-family: 'Inter', sans-serif;  
    font-size: 14px;
    background-color: #F2F2F2;
}

.wrapper{
    max-width:1160px;
    width: 100%;
    margin-inline: auto; 
}
/* Button style */
/* for Header*/
.btn{
    height:44px;
    min-width: 149px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight:500;
    padding: 8px 16px;
    color: inherit;
}
.btn--border{
    border: 1px solid #021A84;
    border-radius: 8px;
    color: #021A84;
    transition: linear -2s;
}
.btn--border:hover{
    background-color: #021A84;
    color:white;
}
.btn--solid{
    border-radius: 8px;
    background-color: #021A84;
    color:white; /*chữ màu trắng */
    user-select: none;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
/* end Button style */
.heading{
    color: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
linear-gradient(0deg, #021A84, #021A84);
    font-size: 34px;
    font-weight: 700;
}

.btn-scrollTop{
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: #021A84;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    right: 40px;
    bottom: 40px;
}