/* container */
.container{
    width:1160px;
    padding-block:4opx;
}

/* end container */
/* Header */
.header{
    height: 80px;
    background-color:#fff ;
    width:1160px;
}
.header-wrapper{
    display: flex; /*nằm ngang*/
    justify-content: space-between; /*content đẩy ra 2 bên*/
    align-items: center; /* đẩy item vào chính giữa*/
    height: 100%;
}
.header-nav__list{
    display: flex; /*nằm ngang*/
    align-items: center;
    gap: 14px; /*khoảng cách giữa 2 item (tính từ khung bao bọc item)*/

}
/* end Header */

/* Banner */
.banner{
    height: 721.01px;
    max-width: 100%;
}
.banner__img{
    height: 100%;
    width:100%;
    object-fit: contain;
}
/* end Banner */

/* form search layout */
.form-search{ /* 3 thằng này nằm ngang*/
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 12px;
}
.form-search__option{
    width: 271px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between ;
    height: 50px;
    background-color: #fff; 
    border-radius:8px ;  
    backdrop-filter: flur(2px);
    padding: 13px 16px; 
    margin-right: 12px;
    margin-left: 16px;
    cursor: pointer;
}
.form-search__optionLeft{
    display: flex;
    align-items: center;
    gap:4px;

}
.form-search__optionLeft span {
    color:#999999;
}
.form-search__input{
    width:100%;
    position: relative;
    height:50px;
    background-color: #fff; 
    backdrop-filter: flur(2px);
    border-radius:8px ;  
}
.form-search__input input{
    height: 100%;
    width: 100%;
    padding: 13px 16px 13px 44px;
    border-color: transparent;
    border-radius: inherit;

}
.seach-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}
.form-search__btn{
    border: none;
    outline: none;
}
/*end form search layout */

/* suggest list */
.suggest-wrap{
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap:12px;
}
.suggest-list{
    display: flex;
    align-items: center; 
    gap:8px;
}
.suggest-item{
    font-size: 14px;
    padding: 4px 8px;
    border-radius:8px;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none; /*ngta không bôi đen được*/
}
/* end suggest list */

/* jobs list */
.job-wrap{
    margin-top: 77px;
}
.job-header{
    display: flex;
    justify-content:space-between ; /*đẩy ra 2 bên*/
    align-items: center;
}
.job-heading-wrap{
    display: flex;
    align-items: center;
    gap:9px;
}
.job-heading__iconwrap{ /*hình tròn màu trắng to bên ngoài cùng*/
    width:67px;
    height:67px;
    border-radius:50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
    ;
}
.job-heading__icon{ /*hình tròn màu trắng nhỏ bên trong*/
    width:  52.89px;
    height: 52.89px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.job-heading__link{
    color:#021A84;
    font-size: 18px;
    font-weight: 500;
    transition: linear;
}
.job-heading__link :hover{
    text-decoration: underline;
}

.job-card__list{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:32px;
    margin-top: 40px;
}
.job-card__item{
    background: #ffffff;
    border-radius: 16px;
    padding:16px;
    border: 1px solid transparent;
    transition: linear 0.2s;
}
.job-card__item:hover{
    border-color: #021A84;
}

.job-card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-card__nameWrap{
    display: flex;
    gap:8px;
}
.job-card__name{
    font-size: 16px;
    font-weight: 500;
}
.job-card__time{
    padding: 4px 16px;
    background: linear-gradient(
        0deg, 
        rgba(255, 255, 255, 0.95), 
        rgba(255, 255, 255, 0.95)),
        #021A84;
    border-radius: 8px;
    color: #021A84;
}
.job-card__body{
    margin-top:8px;
    display:flex;
    justify-content: space-between;
    position: relative;
}
.job-card__body::before{
    content: "";
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50);
    width: 1px;
    height: 16px;
    background-color:  #F2F2F2;
}
.job-card__priceText{
    color:linear-gradient(0deg, #999999, #999999),
    linear-gradient(0deg, #171717, #171717);
    font-size: 12px;
}
.job-card__priceNumber{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
}
.job-card__priceNumber span{
    color: #999999;
    font-weight: 400;
}
.job-card__footer{
    margin-top: 8px;    
    display: flex;
    justify-content: space-between;
}
.job-card__footerLeft{
    display: flex;
    align-items: center;
    gap: 16px;
}
.job-card__tag{
    padding: 4px 16px ;
    border-radius: 8px;
    background-color: #F2F2F2;
    color: linear-gradient(0deg, #021A84, #021A84),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    
}
.job-card__footerRight{
    padding: 4px 16px ;
    border-radius: 8px;
    background-color: #FE4C4C;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
/* end job list */

/* introduce */
.intro-wrap{
   margin-top: 80px;
}
.heading-wrap{
    text-align: center;
}
.sub-heading{
    font-size: 18px;
    color:  #021A84;
}
.intro-card__list{
    margin-top: 40px;
    display: flex;
    gap: 32px;
}
.intro-card__item{
    padding: 32px;
    background: linear-gradient(
        0deg, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.6)),
        #2ADA66;
    border-radius: 16px;
}
.intro-card__item:nth-child(1) {
    background: linear-gradient(
        0deg, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.6)),
        #2ADA66;
}
.intro-card__item:nth-child(1) .intro-card__title{
    color: #2ADA66;
}
.intro-card__item:nth-child(2){
    background: linear-gradient(
        0deg, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.6)),
        #021A84;
}   
.intro-card__item:nth-child(2) .intro-card__title{
    color: #021A84;

}
.intro-card__item:nth-child(3){
    background: linear-gradient(
        0deg, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.6)),
        #E5532A;
}
.intro-card__item:nth-child(3) .intro-card__title{
    color: #E5532A;
}
.intro-card__img{
    margin-inline: auto; /*hình đô la đầy ra giữa*/
}
.intro-card__title{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
}
.intro-card__desc{
    text-align: center;
    margin-top: 8px;
}
/* end introduce */

/* partner */
.partner-wrap{
    margin-top: 80px;
}
.partner-list{
    margin-top: 40px;
    display: flex;
    gap: 60px;
    justify-content: center;
}
/* end partner */

/*  process working */
.process-wrap{
    margin-top: 80px;
}
.process-card__list{
    display: flex;
    gap: 100px;
}
.process-card__item{
    flex:1 ;
    text-align: center;
}
.process-card__numberWrap{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}
.process-card__number{
    background-color: #999999;
    color: white;
    font-weight: 700;
    font-size: 18px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process-card__logo{
    margin-top: 16px;
    margin-inline: auto;
}
.process-card__title{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
}
.process-card__desc{
    margin-top: 8px;
    font-size: 14px;
}

/* end process working */

/* sub banner */
.subBanner__wrap{
    margin-top: 114px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(220.53deg, #0CC64B 0%, #26AB5B 76.95%);

}
.subBanner_Left{
    padding: 26px 40px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;

}
.subBanner__title{
    font-size: 26px;
    font-weight: 700;
    color: white;
}
.subBanner__desc{
    font-size: 18px;
    color: white;
}
.subBanner__right{
    width: 233px;
    padding: 26px 40px;
    display: flex;
    align-items: center;
    background: #FFFFFF4D;

}
/* end sub banner */

/* footer */
.footer{
    margin-top: 40px;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__form{
    display: flex;
    gap: 16px;
    align-items: center;
}
.footer__input{
    padding: 16px;
    min-width: 252px;
    background-color: white;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
}
.footer__formBtn{
    width: 50px;
    height: 50px;
    background: linear-gradient(90deg, #EF463A 0%, #FCA939 100%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    outline:none;
}
.footer__total{
    display: flex;
    align-items: center;
    gap: 32px;
}
.footer__totalItem{
    display: flex;
    align-items: center;
    gap:6px;
}
.footer__totalNumberWrap{
    width: 50px;height: 50px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer__totalNumber{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: linear-gradient(0deg, #021A84, #021A84),
linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    font-weight: 700;
    font-size: 14px;
}
.footer__totalText{
    color: #999999;
    font-size: 14px;
}
.footer__body{
    margin-top: 40px;
}
.footer__list{
    display: flex;
    gap: 40px;
}
.footer__item{
    flex: 1;
}
.footer__logo{
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #999999;
}
.footer__socialList{
    display: flex;
    gap: 16px;
    align-items: center;
}
.footer__title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}
.footer__subList{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer__subLink{
    transition: linear .2s;
}
.footer__subLink:hover{
    color:  #021A84;
}
.copyright{
    text-align: center;
    color:live #999999;    
}
/* footer */

